@charset "UTF-8";
#page{
    background-color: white; 
    width:100%; 
    /* box-shadow: 1px 1px 10px gray; */
    margin: 0 auto;
    padding-top: 50px;
}
#navbar{
    text-align: center;
    width:100%;
    background-color: #9CC89D;
    height: 150px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
#content{
    width: 960px;
    height: 800px;
    margin: 0 auto;
    padding: 15px 50px 15px 50px; 
    overflow: hidden;
}
#content-left{
    float: left;
}
#content-right{
    float: right;
}
#footer{
    width:100%;
    background-color: #9CC89D;
    height: 500px;
    line-height: 150px;
    padding: 15px 50px 15px 50px; 
}
/* �슂�냼�뱾 */
.oribtn{
    width: 120px;
    height: 70px;
    border-radius: 15px;
    border: none;
    box-shadow: 1px 1px 10px gray;
    margin-left: 70px;
    font-weight: bold;
    font-size: 20px;
    vertical-align: middle;
}
#iconimg{
    vertical-align: middle;

}